<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,600" rel="stylesheet">
  {% block extra_meta %}{% endblock %}
  {% block extra_styles %}{% endblock %}
  <title>{% block title %}{% endblock %}</title>
</head>
<body class="c-text-main">
{% block main %}{% endblock %}
{% block extra_scripts %}{% endblock %}
</body>
</html>
