{% extends 'pmr_app/index.html'%}
{% load  static %}

{% block content %}
<div id="login-app">
  <div class="col-12">
    <h4 class="login-intro">Log in to access all of Pimp My Rect's amazing features.</h4>
  </div>
  <div class="col-12">
    <h5 class="welcome">[[ welcome ]]</h5>
  </div>
  {{ form.errors }}
  <form class="login-form" action="" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="username">Username</label>
      {{ form.username }}
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      {{ form.password }}
    </div>
    <input class="btn btn-main" type="submit" name="" v-bind:value="submit">
  </form>
</div>
{% endblock %}
{% block extra_scripts %}
  <script type="text/javascript">
    const siteTitle = "{{ site_title }}"
  </script>
  <script src="{% static 'pmr_app/bundles/loginScript.bundle.js' %}" charset="utf-8"></script>
{% endblock %}
